.header{
    height:75vh;
    width:100%;
    background-image: url('home-bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 50%;
    padding: 20px;
    bottom:23%;
    left: 13vw;
    animation: fadeIn 1.5s linear;
}
.header-contents span{
    background-color: #614A28;
    color: #E4A93E;
    padding: 10px;
    font-family: sans-serif;
    font-size: 24px;
    height:35px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-left: -100px;
    justify-content: center;
}
.header-contents h1{
    font-weight: 500;
    font-size: 35px;
     margin-left: -100px;
    color: #fff;
}
.header-contents p{
    color: #fff;
     margin-left: -100px;
    font-size: 1vw;
}
.header-contents button{
     margin-left: -60px;
    border: none;
    color: #808080;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    margin-top: 20px;
}
.header-contents button:hover{
    color: #ff6347;
}
.header-images{
    position: relative;
    transform: scale(0.6);
    left: 300px;
}
.header-images .food1{
    height: 450px;
    width: 450px;
    position: relative;
    margin-top: -300px;
    top: -100px;
    animation: food 3s linear infinite;
}
@keyframes food {
    0%{
        top: -100px;
    }
    50%{
        top:-50px;
    }
    100%{
        top: -100px;
    }
}

.header-images .food2{
     height: 300px;
    width: 300px;

}
.header-images .food3{
     height: 300px;
    width: 300px;

}

.mobile{
    height:50%;
    width: 50%;
    margin-left: 250px;
}